---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Aptitudes from "../components/Aptitudes.astro";
import Projects from "../components/Projects.astro";
import Foot from "../components/Foot.astro";
import Technologies from "../components/Technologies.astro";
---

<Layout title="Angel Baeza">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
        <Navbar/>
        <Hero/>
        <Aptitudes/>
        <Technologies/>
        <Projects/>
        <Foot/>
    </div>
</Layout>
