<div id="aptitudes" class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <!-- Icon Blocks -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <div class="max-w-4xl mx-auto">
            <!-- Grid -->
            <div class="grid md:grid-cols-2 gap-6 lg:gap-12">
                <div class="space-y-6 lg:space-y-10">
                    <!-- Icon Block -->
                    <div class="flex">
                        <span class="material-symbols-outlined flex-shrink-0 text-gray-800 text-4xl">laptop_mac</span>
                        <div class="ms-5 sm:ms-8">
                            <h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200">
                                Full Stack Developer Web
                            </h3>
                            <p class="mt-1 text-gray-600 dark:text-gray-400">
                                Cuento con habilidades sólidas y versátiles que me permiten abordar todos los aspectos
                                del desarrollo de soluciones web. Mi experiencia abarca tanto el front-end como el
                                back-end, lo que me permite crear aplicaciones web completas y funcionales.
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Block -->

                    <!-- Icon Block -->
                    <div class="flex">
                        <svg class="flex-shrink-0 mt-2 h-8 w-8 text-gray-800 dark:text-white"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m7.5 4.27 9 5.15"/>
                            <path d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"/>
                            <path d="m3.3 7 8.7 5 8.7-5"/>
                            <path d="M12 22V12"/>
                        </svg>
                        <div class="ms-5 sm:ms-8">
                            <h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200">
                                Liderazgo Técnico
                            </h3>
                            <p class="mt-1 text-gray-600 dark:text-gray-400">
                                He llevado a equipos hacia el cumplimiento de objetivos específicos, fomentando un
                                ambiente de trabajo colaborativo y motivador. Mi enfoque se centra en optimizar la
                                productividad y garantizar la entrega de proyectos de manera eficaz.
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Block -->


                </div>
                <!-- End Col -->

                <div class="space-y-6 lg:space-y-10">
                    <!-- Icon Block -->
                    <div class="flex">
                        <svg class="flex-shrink-0 mt-2 h-8 w-8 text-gray-800 dark:text-white"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"/>
                            <path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"/>
                            <path d="M4 22h16"/>
                            <path d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"/>
                            <path d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"/>
                            <path d="M18 2H6v7a6 6 0 0 0 12 0V2Z"/>
                        </svg>
                        <div class="ms-5 sm:ms-8">
                            <h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200">
                                Colaboración Multidisciplinaria
                            </h3>
                            <p class="mt-1 text-gray-600 dark:text-gray-400">
                                Mi capacidad para trabajar eficazmente con equipos diversos es un activo clave. Entiendo
                                la importancia de la colaboración multidisciplinaria y he demostrado habilidades para
                                comunicarme de manera efectiva con profesionales de diferentes áreas.
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Block -->
                    <!-- Icon Block -->
                    <div class="flex">
                        <svg class="flex-shrink-0 mt-2 h-8 w-8 text-gray-800 dark:text-white"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"/>
                        </svg>
                        <div class="ms-5 sm:ms-8">
                            <h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200">
                                Visión Integral del Desarrollo
                            </h3>
                            <p class="mt-1 text-gray-600 dark:text-gray-400">
                                Poseo una visión integral del desarrollo, lo que significa que entiendo y abordo todas
                                las fases del ciclo de vida del proyecto. Desde la conceptualización y planificación
                                hasta la implementación y mantenimiento, tengo la capacidad de coordinar y ejecutar cada
                                etapa con precisión.
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Block -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Grid -->
        </div>
    </div>
    <!-- End Icon Blocks -->
</div>