<div id="projects" class="text-center my-6">
    <h2 class="block font-semibold text-gray-800 text-3xl md:text-5xl lg:text-6xl dark:text-gray-200">
        Proyctos
    </h2>
</div>
<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-12">
    <!-- Card -->
    <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <div class="h-52 flex flex-col justify-center items-center bg-blue-200 rounded-t-xl">
            <img class="w-80 h-auto" src="/resume-made-with-astro/images/projects/matchpld.png" alt="riesgolegal"/>
        </div>
        <div class="p-4 md:p-6">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
                MatchPLD
            </h3>
            <p class="mt-3 text-gray-500">
                Herramienta de búsqueda de información en listas negras a nivel nacional e internacional, enfocada
                en la prevención de lavado de dinero. Facilita la identificación y verificación de individuos o
                entidades con posibles implicaciones legales o financieras, contribuyendo así a fortalecer las
                medidas de seguridad y cumplimiento normativo.
            </p>
        </div>
        <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
            <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl rounded-ee-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
               href="https://matchpld.com/"
               target="_blank">
                Ir al proyecto
                <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"></path>
                </svg>
            </a>
            <!--<a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-ee-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">-->
            <!--    View API-->
            <!--</a>-->
        </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <div class="h-52 flex flex-col justify-center items-center bg-amber-200 rounded-t-xl">
            <img class="h-36 w-auto" src="/resume-made-with-astro/images/projects/aquies.svg" alt="riesgolegal"/>
        </div>
        <div class="p-4 md:p-6">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
                Aquí es!
            </h3>
            <p class="mt-3 text-gray-500">
                Sistema de Gestión de Relaciones con el Cliente (CRM) especializado en el ámbito inmobiliario,
                diseñado para facilitar la administración eficiente de tus propiedades. Totalmente adaptado y
                preparado para cumplir con los requisitos establecidos por la Norma Oficial Mexicana NOM-254,
                garantizando un manejo integral y conforme de la información relacionada con tus inmuebles.
            </p>
        </div>
        <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
            <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl rounded-ee-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
               href="https://aquies.mx/"
               target="_blank">
                Ir al proyecto
                <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"></path>
                </svg>
            </a>
        </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <div class="h-52 flex flex-col justify-center items-center bg-gray-200 rounded-t-xl">
            <img class="h-36 w-auto" src="/resume-made-with-astro/images/projects/riesgolegal.svg" alt="riesgolegal"/>
        </div>
        <div class="p-4 md:p-6">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
                Riesgo Legal
            </h3>
            <p class="mt-3 text-gray-500">
                Sistema revolucionario permite a la empresa registrar y actualizar en tiempo real sus procesos
                legales, facilitando la incorporación de comentarios e información clave. Desde la perspectiva del
                cliente, el sistema ofrece acceso instantáneo al historial de hitos de su proceso legal, generando
                transparencia y confianza.
            </p>
        </div>
        <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
            <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl rounded-ee-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
               href="https://riesgolegal.mx/"
               target="_blank">
                Ir al proyecto
                <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"></path>
                </svg>
            </a>
        </div>
    </div>
    <!-- End Card -->
</div>
<!--<div class="text-center">-->
<!--    <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"-->
<!--       href="#">-->
<!--        Ver todos-->
<!--        <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">-->
<!--            <path d="m9 18 6-6-6-6"></path>-->
<!--        </svg>-->
<!--    </a>-->
<!--</div>-->

